.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  width: 500px;
  height: 500px;
  background-color: #0B2434;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 460px;
  height: 440px;
  background: #F5F5F5;
  border-radius: 10px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.roll-button {
  width: 100px;
  height: 36px;
  color: #FFFFFF;
  background-color: #5035FF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}